<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382962815693-9kbdi42k66584e603p4kvq67bfunmcdc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382962815693-9kbdi42k66584e603p4kvq67bfunmcdc</string>
	<key>API_KEY</key>
	<string>AIzaSyB7q_Zfd8RxUBkv2Lm-ePHC8OG9fRrKhNw</string>
	<key>GCM_SENDER_ID</key>
	<string>382962815693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Xiang.MayApp1</string>
	<key>PROJECT_ID</key>
	<string>may-app-c3e93</string>
	<key>STORAGE_BUCKET</key>
	<string>may-app-c3e93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382962815693:ios:578098164bad65c49d4f84</string>
	<key>DATABASE_URL</key>
	<string>https://may-app-c3e93.firebaseio.com</string>
</dict>
</plist>